@import "tailwindcss";

@theme inline{
  --color-primary: #05b2d2;
  --color-accent: #e02422;
  --color-background: #fff;
  --color-foreground: #f1f5f9;
  --color-muted: #1f2937;
  --color-border: #334155;
  --color-highlight: #2dd4bf;
  --color-white: "fff";

  --font-sans: var(--font-sora);
  --font-mono: var(--font-fira-code);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-lighter-primary: #05b2d2;
    --color-lighter-accent: #a12e2c;
    --green: #13c213;
  }
}

