@import "tailwindcss";

@theme inline{
  --color-primary: #05b2d2;
  --color-accent: #e02422;
  --color-background: #fff;
  --color-background-gray: #dfdfdf;
  --bg-main-bg: #dfdfdf;
  --color-background-black: #000;
  --color-foreground: #f1f5f9;
  --color-muted: #1f2937;
  --color-border: #334155;
  --color-highlight: #2dd4bf;
  --color-white: "fff";
  --color-on-primary: #f8fafc;
      --text-primary-changed: #0c7689;

    --color-secondary-bg: #FDFBD4;

  --font-sans: var(--font-sora);
  --font-mono: var(--font-fira-code);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-lighter-primary: #05b2d2;
    --color-lighter-accent: #a12e2c;
    --green: #13c213;
    --text-primary-changed: #0c7689;
  }
}

html[style*="overflow: hidden"] {
  overflow: auto !important;
  padding-right: 0 !important;
}

body {
  background-color: #f1efef;
}

.swiper-pagination-bullet-active {
     background-color: white !important;
}

